.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .custom-card {
    padding: 8%;
    width: 35%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #E9DAD9;
    height: 60%;
  }
  
  .logo img {
    max-width: 40%;
    display: block;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 20%; 
  }
  


  